<html>
<style> 
  #wronger { background: red;}
  #wrong   { background: pink;}
  #correct { background: green;}
  #wrong   { background: blue;}
  #wronger { background: navy;}
</style>
<head>Guess a number from 1 to 100...</head>
  
  <% if correct %>
    <body id= "right">
    <% else %>
    <body id = "wrong">
      <% end %>

    <h1> <%= if correct %> 
      <% message %> 
      The SECRET NUMBER is <%= number %>
        <img src="http://www.picgifs.com/graphics/d/dancing-baby/graphics-dancing-baby-383523.gif">
        <% end %>


    <form>
      <input type='text' name='guess' />
      <input type='submit' name='Guess!' /> </form>
    </html>


