<html>
  <head>
  </head>

  <body>
    <body style="background-color:<%= color %>;">
    <h1><%= message %></h1>

    <form>
      <input type='text' name='guess' />
      <input type='submit' /> 
    </form>
        <img src="http://www.picgifs.com/graphics/d/dancing-baby/graphics-dancing-baby-383523.gif">
  </body>
</html>
